<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
  </head>

  <body>
      <h1 style="text-align:center;">Pandora's Box</h1>
      <br>
      <div>
          <h2>Data Downloads</h2>
              <div style = "margin-left: 100px;">
                  <a target="_blank" href="/download_historical_stock_data">Download historic stock data</a>
                  <a target="_blank" href="/download_historical_FnO_data" style = "margin-left: 100px;">Download historical FnO data</a>
                  <a target="_blank" href="/download_daily_FnO_data" style = "margin-left: 100px;">Download daily FnO data</a>
              </div>
              <br>

          <h2>Technical Analysis</h2>
              <div style = "margin-left: 100px;">
                  <a target="_blank" href="/technical_analysis_screener_today.html">Technical Analysis Screener for today</a>
                  <a target="_blank" href="/technical_analysis_screener_yesterday.html" style = "margin-left: 100px;">Technical Analysis Screener for yesterday</a>
              </div>
              <br>

          <h2>Calender Spreads</h2>
              <div style = "margin-left: 100px;">
                  <a target="_blank" href="/calender_spreads" style = "margin-left: 100px;">Calender Spreads</a>
                  <a target="_blank" href="/calender_spreads_backtest" style = "margin-left: 100px;">Calender Spreads Backtest</a>
              </div>
              <br>

          <h2>Cash and Carry Arbitrage</h2>
              <div style = "margin-left: 100px;">

              </div>
          <br>

          <h2>Pair Trading Strategy</h2>
              <div style = "margin-left: 100px;">
                  <a target="_blank" href="/pairs_list" style = "margin-left: 100px;">pairs list</a>
              </div>
          <br>




      </div>


  </body>

</html>
