<!doctype html>
<html>

<head>
<title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/TA_home.css') }}">
</head>

<body>
<h1 style="text-align:center;">Pandora's Box</h1>
<br>
<div>
<h2>Data Downloads</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <a target="_blank" href="/download_historical_stock_data">Historic Stock Data</a>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <a target="_blank" href="/download_historical_FnO_data">Historical FnO Data</a>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <a target="_blank" href="/download_daily_FnO_data">Daily FnO Data</a>
        </div>
    </div>
</div>
<br>

<h2>Technical Analysis</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <a target="_blank" href="/TA_analysis">Screener</a>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <a target="_blank" href="/TA_analysis_bullish_signals">Bullish Signals</a>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <a target="_blank" href="/TA_analysis_bearish_signals">Bearish Signals</a>
        </div>
    </div>
</div>
<br>

<h2>Calender Spreads</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <a target="_blank" href="/calender_spreads">Calender Spreads</a>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <a target="_blank" href="/calender_spreads_backtest">Calender Spreads Backtest</a>
        </div>
    </div>
</div>
<br>

<h2>Cash and Carry Arbitrage</h2>
<div style = "margin-left: 100px;">

</div>
<br>

<h2>Pair Trading Strategy</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <a target="_blank" href="/pairs_list">pairs list</a>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <a target ="_blank" href="/pair_trades">pair trades</a>
        </div>
    </div>
</div>
<br>




</div>


</body>

</html>
