<!doctype html>
<html>

<head>
<title>TA_signal_generator</title>
<meta charset="utf-8">
<meta name="description" content=>
    <link rel="stylesheet" type="text/css" href="/static/styles/TA_home.css">
</head>

<body>
<span class="row">
    <span class="column">
        <span class="card_bullish">
            <a target="_blank" href="/TA_analysis/ACC" style="color:white; background-color:green">ACC</a>Score = 3
        </span>
    </span>
</span><span class="row">
    <span class="column">
        <span class="card_bullish">
            <a target="_blank" href="/TA_analysis/ASIANPAINT" style="color:white; background-color:green">ASIANPAINT</a>Score = 2
        </span>
    </span>
</span><span class="row">
    <span class="column">
        <span class="card_bullish">
            <a target="_blank" href="/TA_analysis/BANDHANBNK" style="color:white; background-color:green">BANDHANBNK</a>Score = 1
        </span>
    </span>
</span><span class="row">
    <span class="column">
        <span class="card_bullish">
            <a target="_blank" href="/TA_analysis/BIOCON" style="color:white; background-color:green">BIOCON</a>
            Score = 1
        </span>
    </span>
</span><span class="row">
    <span class="column">
        <span class="card_bullish">
            <a target="_blank" href="/TA_analysis/ZEEL" style="color:white; background-color:green">ZEEL</a>
            Score = 2
        </span>
    </span>
</span></body>

</html>
